body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.msg_container_base {
  background: #121212;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 80vh;
  overflow-x: hidden;
}

.listUsers {
	
	width: 100%;
	height:55px;
	line-height: 55px;
	background: #E0E6F8;
	padding: 4px 0;
	display: block;
	color: #333;
	
}

.boxUsers {
	background: #E0E6F8;
}

#chatBox {
    overflow : auto;
    padding-bottom: 20px;
    color: #333;
    width: 100%;
        
}

.msg {
	padding-left: 20px;
}

.form {
	height: 100%;
}



#footer {
  color: #EEE;
  width: 100%;
  
  font-weight: bold;
  padding: 10px;
  background: rgb(63,81,181);
  height: 100%;
  position: relative;
}

#textField {
  width: 70%;
  height: 100%;
  position: relative;
  line-height: 100%;
  
}

#btSend {
  width: 20%;
  height: 100%;
  position: relative;
  
}


.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

