@(loggedIn: Boolean)

@import helper._

@main("esf Chat", loggedIn, "","") {
	
	<div align="center"><br><br><br>
		<a href="/authenticate/google">
			<button class="loginBtn loginBtn--google" >
	  			Efetuar Login pelo Google
			</button>
		</a>
	</div>

}
