@(name: String, avatarURL: String)

@import helper._

@main("esf Chat", true, name, avatarURL) {
	  
    	  	
		 <div flex="25" ng-controller="ChatCtrl" class="boxUsers">
				
			  <md-content flex layout-align="start start" >
	                <div  ng-repeat="user in users" class="listUsers">
		                   	<img ng-src="{{user.avatarURL}}" align="left"/>
		                    <strong>{{user.user}} </strong>
		            </div>
	            </md-content>
		 </div>
				  
		  <div flex="75" ng-controller="ChatCtrl">
			  	
		  	<div layout="column" layout-fill layout-align="end start" max-width = 100%>
		  		<div id="chatBox">
					  <md-content flex layout-align="end end" >
			                <div  ng-repeat="msg in msgs">
			                		<br>
				                    <strong class="msg">{{msg.user}}: </strong>{{msg.text}}<br><br>
				            </div>
			            </md-content>
		           </div>
	         
			       <div id="footer" flex="10">
			                <form ng-submit="submitMsg('@{name}')" class="form">
			                    <input type="text" name="chat" id="textField" ng-model="inputText"
			                     placeholder="Digite aqui" maxlength="1000" autofocus/>
			                    <md-button class="md-raised md-secondary btSend" id="saySomething" ng-click="submitMsg('@{name}')" />Enviar</md-button>
			                </form>
			        </div>
			</div>          
	       </div>
	
}
